@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


body {
    background-color: #FBFFF5;
    font-family: "Open Sans", sans-serif;
}

h1,
h2,
h3 {
    font-family: "Roboto Condensed", sans-serif;
    color: #3B59AC;

}

h1,
h2 {
    text-align: center;
}

h1 {
    font-size: 60px;

}


h2 {
    font-size: 30px;
}

h3 {
    font: size 15px;;
    color: #3B59AC;
}

ul {
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #3B59AC;
}

a:hover {
    text-decoration: underline;
    font-style: italic;
}

img {
    width: 20%;
    margin: auto;
    display: block;
    border-radius: 200px;
}

